body{
    background: cyan;
}
.footer {

    position: static;
    background-color:  rgb(19, 3, 170);
    color: rgb(142, 225, 236);
    font-family: sans-serif;
    font-size: 30px;
}

.footer img{
    width: 10%;
}
li {
    width: 150px;
    list-style: none;
    background-color: lightskyblue;
}

.passengers ul li.tooltip:nth-child(4n+1) { 
    background-color: rgb(92, 171, 245);
}   
.passengers ul li.tooltip:nth-child(4n+3) { 
    background-color: rgb(64, 150, 231);
}   

li a{
    text-transform: uppercase;
}

.submenu >  li a{
    text-transform: initial;
}

li a:link, a:visited{
    color: blue;
    text-decoration: none;
}

a:hover{
    background-color: lightblue;
    width: 150px;
}

table {
    width: 100%;
    text-align: left;
    font-weight: lighter;
    border: 1px solid black;
    border-collapse: collapse;
}
th{
    border: 1px solid black;
}
tr{
    border: 1px solid black;
}

td{
    border: 1px solid black; 
}

.main tr{
    background-color: rgb(10, 182, 194);
}
div#loty tbody tr:nth-child(odd){
    background-color: rgb(0, 204, 255);
}
div#loty tbody tr:nth-child(even){
    background-color: rgb(3, 183, 238);
}

p{
    border: 1px solid black;
    padding-left: 2mm;
    padding-top: 2mm;
    padding-right: 2mm;
    padding-bottom: 2mm;
    width:auto;
    margin-left: 12.5%;
    margin-right: 12.5%;
}
p#aktualnosci{
    font-size: 120%;
    font-weight: bold;
    background-color: cornflowerblue;
}

p#lista_lotow{
    font-weight: bold;
    font-size: 120%;
    color: rgb(45, 83, 45);
    text-align: center;
    background-color: greenyellow;
}
p#ekstra{
    padding-left: 0mm;
    padding-top: 0mm;
    padding-right: 0mm;
    padding-bottom: 0mm;
    position: absolute;
    background-color: rgb(17, 207, 17);
    z-index: 1;
    top: 20px;
    left: -80px;
}

p#odw{
    font-weight: bold;
    font-size: 120%;
    color: black;
    text-align: center;
    background-color:orangered;
}

p#opis{
    border:0;
    padding-left: 0mm;
    padding-top: 0mm;
    padding-right: 0mm;
    padding-bottom: 0mm;
}

p#pas{
    border:0;
    background-color: lightskyblue;
}

p#rezerwacja{
    background: cornflowerblue;
    font-weight: bold;
    font-size: 120%;
}

h4#war {
    background-color: yellow;
}
h4#mon {
    background-color: skyblue;
}

div {
    position: relative ;
}

.opozniony{
    background-color: yellow;
}

.b_opozniony{
    background-color: orange;
}

.odwolany{
    background-color: rgb(235, 57, 57);
}

.page{
    display: grid;  
    grid-template-columns: 200px 75% 25%;
    height: 100%;
    text-align: center;
    grid-gap: 3rem;
}

@media only screen and (min-device-width: 600px) {

}

@media only screen and (max-device-width: 1200px) and (min-device-width: 601px) {
}


@media only screen and (min-width: 1501px) {
    .page{ 
        grid-template-columns: 200px 50% auto;
        grid-template-rows: 15% 70% auto;     
    }
    .menu{
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    .main{
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }
    .late{
        grid-row: 2 / span 1;
        grid-column: 3 / span 1;
    }
    .header {
        grid-row: 1 / span 1;
        grid-column: 1 / span 3;
    }
    .footer {
        grid-row: 3 / span 1;
        grid-column: 1 / 4;
    }
}
@media only screen and (min-width: 2000px) {
    .page{ 
        grid-column-gap: 15px;
        grid-template-columns: 200px 75% 25%;  
    }
    .late{
        justify-self: stretch;
    }
    .rez{
        justify-self: center;
        align-self: end;
    }  
}

@media only screen and (max-width: 1501px) and (min-width: 1000px) {
    .page{ 
        grid-template-columns: 50% 50%;
        grid-template-rows: 15% 15% 60% auto;     
    }
    .menu{
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    .main{
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }
    .late{
        grid-row: 3 / span 1;
        grid-column: 2 / span 1;
    }
    .header {
        grid-row: 1 / span 1;
        grid-column: 1 / span 3;
    }
    .footer {
        grid-row: 4 / span 1;
        grid-column: 1 / 4;
    }
}
@media screen and (max-width: 999px) {
    .page{ 
        grid-template-columns: 100%;
        grid-template-rows: 10% 15% 30% 40% auto;     
    }
    .menu{
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }
    .main{
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }
    .late{
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
    }
    .header {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }
    .footer {
        grid-row: 5 / span 1;
        grid-column: 1 / span 1;
    }
}

.header{
    background: rgb(19, 3, 170);
    font-size: 300%;
    color: rgb(142, 225, 236);
}

@media all and (min-width: 1501px) {
}

@media screen and (max-width: 800px) {
    .cityimg{display: none;} 
    .pogoda{display: none;}
}



.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.kontakt {
    text-align: center;
}
p.kontakt{  
    background-color: skyblue;
    font-weight: bold;
}