body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(241, 233, 233);
  padding-left: 10% ;
}

a {
  color: #00B7FF;
}

img {
  max-width: 500px;
  max-height: 500px;
}